html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Vela Sans", sans-serif;
}

.button {
    border: none;
    color: #fff;
    font-family: "Vela Sans", sans-serif;
}

.button_green {
    background-color: #00CA81;
}

.button_gray {
    background-color: #F6F6F6;
    color: #353535;
}

.button_black {
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.navigation {
    position: relative;
    display: flex;
    height: 82px;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
}

.navigation::before {
    content: "";
    position: absolute;
    background-color: #F6F6F6;
    width: 361.5px;
    height: 82px;
    left: -361.5px;
    top: 0;
}

.navigation::after {
    content: "";
    position: absolute;
    background-color: #F6F6F6;
    width: 361.5px;
    height: 82px;
    top: 0;
    right: -361.5px;
}

.sublist__button {
    padding: 0;
    display: flex;
    color: #353535;
    font-size: 15px;
    line-height: 21px;
    background-color: #F6F6F6;
}

.navigation__sublist {
    position: absolute;
    background-color: #fff;
    width: 164px;
    top: 51px;
    height: 135px;
    border-radius: 13.7px;
}

.sublist__item {
    padding-top: 12.5px;
    padding-left: 18px;
}

.sublist__item:first-child {
    padding-top: 20.5px;
}

.sublist__link {
    color: #000;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
}

.navigation__list {
    width: 762px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    position: relative;
    font-size: 15.09px;
    line-height: 21.12px;
    color: #353535;
    text-decoration: none;
}

.button-link__arrow_1 {
    position: relative;
    width: 18px;
    height: 18px;
}

.button-link__arrow_1::before {
    position: absolute;
    display: block;
    content: '';
    top: 60%;
    left: 10%;
    width: 7px;
    height: 2px;
    background-color: #353535;
    transform: rotate(45deg);
}

.button-link__arrow_1::after {
    position: absolute;
    display: block;
    content: '';
    top: 60%;
    left: 30%;
    width: 7px;
    height: 2px;
    background-color: #353535;
    transform: rotate(-225deg);
}

.button-link__arrow_2 {
    position: relative;
    width: 18px;
    height: 18px;
}

.button-link__arrow_2::before {
    position: absolute;
    display: block;
    content: '';
    top: 60%;
    left: 10%;
    width: 7px;
    height: 2px;
    background-color: #353535;
    transform: rotate(45deg);
}

.button-link__arrow_2::after {
    position: absolute;
    display: block;
    content: '';
    top: 60%;
    left: 30%;
    width: 7px;
    height: 2px;
    background-color: #353535;
    transform: rotate(-225deg);
}

.navigation__contacts {
    display: flex;
}

.button_call {
    display: flex;
    border-radius: 13.4px;
    font-weight: 600;
    font-size: 15.97px;
    width: 122px;
    height: 53.75px;
    line-height: 18.96px;
    margin-right: 13px;
    align-items: center;
    justify-content: center;
}

.button_call__text {
    margin-left: 4px;
}

.navigation__number {
    display: flex;
    width: 226.52px;
    font-weight: 600;
    font-size: 21px;
    line-height: 29.5px;
    color: #000;
    flex-wrap: wrap;
    align-items: center;
    text-decoration-thickness: 1px;
}

.number_hours {
    font-size: 15.8px;
    font-weight: 400;
}

.number__pic {
    margin-right: 8.9px;
}

.hidden {
    display: none;
}

/*.arrow_animation-1 {*/
/*    top: 30%;*/
/*    transform: scaleY(-1);*/
/*    transition: transform 0.5s linear;*/
/*}*/

/*.arrow_animation-2 {*/
/*    transform: scaleY(1);*/
/*    transition: transform 0.5s linear;*/
/*}*/

.additional_buttons {
    height: 139px;
    background-color: #FFF;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-weight: 400;
    font-size: 15.09px;
    line-height: 34.82px;
}

.company-logo {
    width: 358px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company_name {
    padding-left: 12px;
    color: #000;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: -1px;
}

.company_additional {
    padding-left: 21px;
    color: #353535;
    font-weight: 300;
    font-size: 13.6px;
    line-height: 20px;
}

.additional_features {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
    line-height: 20.2px;
    gap: 19px;
    align-items: center;
    letter-spacing: -1px;
    width: 254px;
    height: 68px;
    margin-left: 80px;
}

.catalog_button {
    width: 152px;
    height: 54px;
    margin-left: 50px;
}

.button_catalog {
    width: 152px;
    height: 54px;
    border-radius: 13.65px;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -1px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search:hover {
    color: #00CA81;
    transition: fill 0.3s;
}

.search:hover svg {
    fill: #00CA81;
}

.button_search {
    padding: 9px 8px;
    border-radius: 10.79px;
}

.compare {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare:hover,
.compare:hover svg {
    color: #00CA81;
    transition: color 0.3s;
}

.button_compare {
    padding: 10px 9px;
    border-radius: 10.79px;
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites:hover,
.favorites:hover svg {
    color: #00CA81;
    transition: color 0.3s;
}

.button_favorites {
    padding: 10px 11px;
    border-radius: 10.79px;
}

.acc {
    margin-left: 81px;
}

.button_acc {
    display: flex;
    color: #353535;
    border-radius: 15.71px;
    width: 205px;
    height: 63px;
    justify-content: center;
    font-weight: 600;
    font-size: 18.72px;
    line-height: 18.22px;
    align-items: center;
    letter-spacing: -1px;
    gap: 4.68px;
}

.button_acc:hover,
.button_acc:hover svg {
    background-color: #00CA81;
    color: #ffffff;
    transition: color 0.3s;
}

.main_banner {
    display: flex;
    margin-top: 64px;
}

.banner_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 565.78px;
    height: 511.89px;
}

.info_title {
    font-weight: 700;
    font-size: 52.35px;
    line-height: 62.67px;
    letter-spacing: -1px;
}

.info_list {
    position: relative;
    height: 166.41px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.info_item {
    gap: 12.8px;
    display: flex;
    align-items: center;
    height: 75.95px;
    border: solid 0.85px #E0E0E0;
    border-radius: 16.21px;
    font-weight: 500;
    font-size: 21.33px;
    line-height: 29.87px;
    padding: 0 15.36px;
}

.info_item:hover svg{
    color: #00CA81;
    transition: color 0.3s;
}

.info_item:first-child {
    width: 269px;
    position: absolute;
    top: 0;
    left: 0;
}

.info_item:nth-child(2) {
    width: 220px;
    position: absolute;
    top: 90px;
    left: 0;
}

.info_item:last-child {
    width: 234px;
    position: absolute;
    top: 90px;
    left: 265px;
}

.info_buttons {
    display: flex;
    height: 80.7px;
    gap: 17.12px;
}

.button_calc {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 307.66px;
    height: 80.7px;
    border-radius: 20.12px;
}

.button_calc span{
    font-size: 23.99px;
    font-weight: 600;
    line-height: 28.46px;
    letter-spacing: -1px;
}

.button_calc:hover,
.button_calc:hover svg {
    background-color: #00CA81;
    color: #ffffff;
    transition: background-color, color 0.3s;
}

.button_basket {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 183.83px;
    height: 80.7px;
    border-radius: 20.12px;
}

.button_basket span {
    font-size: 23.99px;
    font-weight: 600;
    line-height: 28.46px;
    letter-spacing: -1px;
}

.button_basket:hover,
.button_basket:hover svg {
    background-color: #00CA81;
    color: #ffffff;
    transition: background-color, color 0.3s;
}

.banner_img {
    margin-left: 102.69px;
    position: relative;
}

.banner_buttons button {
    border: none;
    display: flex;
    position: absolute;
    width: 96.65px;
    height: 96.65px;
    border-radius: 50%;
    right: 16px;
    align-items: center;
    justify-content: center;
}

.button_arrow-up {
    top: 1px;
}

.button_social {
    top: 117px;
    background-color: #00CA81;
}

.button_basket-small {
    top: 235px;
}

.quiz_bottom {
    position: relative;
}

.quiz_card {
    position: relative;
    width: 810.41px;
    height: 578.88px;
    border-radius: 18.12px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.quiz_number {
    font-weight: 700;
    font-size: 40.27px;
    line-height: 62.67px;
    letter-spacing: -1px;
    padding-top: 42.29px;
    padding-left: 43.29px;
}

.quiz_variants {
    display: flex;
    gap: 17.07px;
    justify-content: center;
    margin-top: 48.75px;
}

.variants_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 228.22px;
    height: 237.52px;
    position: relative;
}

.variants_item svg {
    position: absolute;
    bottom: 56px;
    left: 91.65px;
}

.variants_item span {
    font-weight: 600;
    font-size: 26.96px;
    line-height: 55.93px;
    letter-spacing: -1px;
    padding-top: 22.46px;
}

.quiz_buttons {
    display: flex;
    gap: 6.76px;
    padding-top: 62.49px;
    padding-left: 43.29px;
}

.button-back {
    display: flex;
    width: 126.13px;
    height: 64.43px;
    border-radius: 16.07px;
    font-weight: 600;
    font-size: 19.15px;
    line-height: 22.73px;
    letter-spacing: -1px;
    align-items: center;
    justify-content: center;
}

.button-back:hover {
    background-color: #00CA81;
    transition: background-color 0.3s;
}

.button-next {
    display: flex;
    width: 138.22px;
    height: 64.43px;
    border-radius: 16.07px;
    font-weight: 600;
    font-size: 19.15px;
    line-height: 22.73px;
    letter-spacing: -1px;
    align-items: center;
    justify-content: center;
}

.button-next:hover {
    background-color: #00CA81;
    transition: background-color 0.3s;
}

.additional_card {
    background-color: #F6F6F6;
    width: 329.2px;
    height: 578.88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 15px;
}

.additional_card-info {
    display: flex;
    padding-top: 12.08px;
    flex-direction: column;
    align-items: center;
}

.card_img {
    background-color: #D9D9D9;
    width: 120.81px;
    height: 120.81px;
    border-radius: 50%;
}

.additional_name {
    font-weight: 700;
    font-size: 25.41px;
    line-height: 39.55px;
    letter-spacing: -1px;
    padding-top: 15px;
}

.additional_jobtitle {
    font-weight: 400;
    font-size: 20.13px;
    line-height: 39.55px;
    letter-spacing: -1px;
    padding-top: -3px;

}

.additional_comment {
    padding-top: 3px;
    font-weight: 400;
    font-size: 15.1px;
    line-height: 21.14px;
}

.prize_list {
    padding-top: 36.24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.prize_title {
    font-weight: 500;
    font-size: 20.13px;
    line-height: 39.55px;
    letter-spacing: -1px;
    text-decoration: underline #000000;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
}

.prize_pool {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.prize_item {
    width: 274.84px;
    height: 65.44px;
    color: #ffffff;
    font-weight: 600;
    font-size: 17.39px;
    line-height: 18.6px;
    letter-spacing: -1px;
    border-radius: 38.26px;
    background-image: url("img/prize_item_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    gap: 5px;
    align-items: center;
}

.prize_item svg {
    padding-left: 15px;
}

