html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    overflow-x: hidden;
    font-family: "Vela Sans", sans-serif;
}

.button {
    border: none;
    color: #fff;
    font-family: "Vela Sans", sans-serif;
}

.button_green {
    background-color: #00CA81;
}

.button_gray {
    background-color: #F6F6F6;
    color: #353535;
}

.button_black {
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.navigation {
    position: relative;
    display: flex;
    height: 82px;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
}

.navigation::before {
    z-index: -1;
    content: "";
    position: absolute;
    background-color: #F6F6F6;
    width: 361.5px;
    height: 82px;
    left: -361.5px;
    top: 0;
}

.navigation::after {
    z-index: -1;
    content: "";
    position: absolute;
    background-color: #F6F6F6;
    width: 361.5px;
    height: 82px;
    top: 0;
    right: -361.5px;
}

.sublist__button {
    padding: 0;
    display: flex;
    color: #353535;
    font-size: 15px;
    line-height: 21px;
    background-color: #F6F6F6;
}

.navigation__sublist {
    position: absolute;
    background-color: #fff;
    width: 164px;
    top: 51px;
    height: 135px;
    border-radius: 13.7px;
}

.sublist__item {
    padding-top: 12.5px;
    padding-left: 18px;
}

.sublist__item:first-child {
    padding-top: 20.5px;
}

.sublist__link {
    color: #000;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
}

.navigation__list {
    width: 762px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.navigation__link {
    position: relative;
    font-size: 15.09px;
    line-height: 21.12px;
    color: #353535;
    text-decoration: none;
}

.navigation__contacts {
    display: flex;
}

.button_call {
    display: flex;
    border-radius: 13.4px;
    font-weight: 600;
    font-size: 15.97px;
    width: 122px;
    height: 53.75px;
    line-height: 18.96px;
    align-items: center;
    justify-content: center;
}

.button_call__text {
    padding-left: 4px;
}

.navigation__number {
    display: flex;
    width: 226.52px;
    font-weight: 600;
    font-size: 21px;
    line-height: 29.5px;
    color: #000;
    flex-wrap: wrap;
    align-items: center;
    text-decoration-thickness: 1px;
    padding-left: 13px;
}

.number_hours {
    font-size: 15.8px;
    font-weight: 400;
}

.number__pic {
    padding-right: 8.9px;
}

.hidden {
    display: none;
}

.additional_buttons {
    position: relative;
    height: 139px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}

.additional_buttons::before {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: -370px;
    content: "";
    height: 1px;
    width: 370px;
    background-color: #E8E8E8;
}

.additional_buttons::after {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: -370px;
    content: "";
    height: 1px;
    width: 370px;
    background-color: #E8E8E8;
}

.material-symbols-outlined {
    font-weight: 400;
    font-size: 15.09px;
    line-height: 34.82px;
}

.company-logo {
    width: 358px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company_name {
    padding-left: 12px;
    color: #000;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: -1px;
}

.company_additional {
    padding-left: 21px;
    color: #353535;
    font-weight: 300;
    font-size: 13.6px;
    line-height: 20px;
}

.additional_features {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
    line-height: 20.2px;
    gap: 19px;
    align-items: center;
    letter-spacing: -1px;
    width: 254px;
    height: 68px;
    padding-left: 80px;
}

.catalog_button {
    width: 152px;
    height: 54px;
    padding-left: 50px;
}

.button_catalog {
    width: 152px;
    height: 54px;
    border-radius: 13.65px;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -1px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search:hover {
    color: #00CA81;
    transition: fill 0.3s;
}

.search:hover svg {
    fill: #00CA81;
}

.button_search {
    padding: 9px 8px;
    border-radius: 10.79px;
}

.compare {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare:hover,
.compare:hover svg {
    color: #00CA81;
    transition: color 0.3s;
}

.button_compare {
    padding: 10px 9px;
    border-radius: 10.79px;
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites:hover,
.favorites:hover svg {
    color: #00CA81;
    transition: color 0.3s;
}

.button_favorites {
    padding: 10px 11px;
    border-radius: 10.79px;
}

.acc {
    padding-left: 81px;
}

.button_acc {
    display: flex;
    color: #353535;
    border-radius: 15.71px;
    width: 205px;
    height: 63px;
    justify-content: center;
    font-weight: 600;
    font-size: 18.72px;
    line-height: 18.22px;
    align-items: center;
    letter-spacing: -1px;
    gap: 4.68px;
}

.button_acc:hover,
.button_acc:hover svg {
    background-color: #00CA81;
    color: #ffffff;
    transition: color 0.3s;
}

.main_banner {
    display: flex;
    padding-top: 64px;
}

.banner_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 565.78px;
    height: 511.89px;
}

.info_title {
    font-weight: 700;
    font-size: 52.35px;
    line-height: 62.67px;
    letter-spacing: -1px;
}

.info_list {
    height: 166.41px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14.51px;
}

.info_item {
    gap: 12.8px;
    display: flex;
    align-items: center;
    height: 75.95px;
    border: solid 0.85px #E0E0E0;
    border-radius: 16.21px;
    font-weight: 500;
    font-size: 21.33px;
    line-height: 29.87px;
    padding: 0 15.36px;
}

.info_item:hover svg{
    color: #00CA81;
    transition: color 0.3s;
}

.info_item:first-child {
    width: 269px;
}

.info_item:nth-child(2) {
    width: 220px;
}

.info_item:last-child {
    width: 234px;
}

.info_buttons {
    display: flex;
    height: 80.7px;
    gap: 17.12px;
}

.button_calc {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 307.66px;
    height: 80.7px;
    border-radius: 20.12px;
}

.button_calc span{
    font-size: 23.99px;
    font-weight: 600;
    line-height: 28.46px;
    letter-spacing: -1px;
}

.button_calc:hover,
.button_calc:hover svg {
    background-color: #00CA81;
    color: #ffffff;
    transition: background-color, color 0.3s;
}

.button_basket {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 183.83px;
    height: 80.7px;
    border-radius: 20.12px;
}

.button_basket span {
    font-size: 23.99px;
    font-weight: 600;
    line-height: 28.46px;
    letter-spacing: -1px;
}

.button_basket:hover,
.button_basket:hover svg {
    background-color: #00CA81;
    color: #ffffff;
    transition: background-color, color 0.3s;
}

.banner_img {
    padding-left: 102.69px;
    position: relative;
}

.banner_buttons button {
    border: none;
    display: flex;
    position: absolute;
    width: 96.65px;
    height: 96.65px;
    border-radius: 50%;
    right: 16px;
    align-items: center;
    justify-content: center;
}

.button_arrow-up {
    top: 1px;
}

.button_social {
    top: 117px;
    background-color: #00CA81;
}

.button_basket-small {
    top: 235px;
}

.quiz {
    padding-top: 86.13px;
}

.quiz_title {
    font-weight: 700;
    font-size: 52.35px;
    line-height: 62.67px;
    letter-spacing: -1px;
}

.quiz_bottom {
    position: relative;
}

.quiz_card {
    position: relative;
    width: 810.41px;
    height: 578.88px;
    border-radius: 18.12px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.quiz_number {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 40.27px;
    line-height: 62.67px;
    letter-spacing: -1px;
    padding-top: 42.29px;
    padding-left: 43.29px;
    border: none;
}

.quiz_number input {
    background-color: #F6F6F6;
    border: none;
    font-weight: 700;
    font-size: 40.27px;
    line-height: 62.67px;
    letter-spacing: -1px;
}

.quiz_variants {
    display: flex;
    gap: 17.07px;
    justify-content: center;
    padding-top: 48.75px;
}

.variants_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 228.22px;
    height: 237.52px;
    position: relative;
}

.variants_item svg {
    position: absolute;
    bottom: 56px;
    left: 91.65px;
}

.variants_item span {
    font-weight: 600;
    font-size: 26.96px;
    line-height: 55.93px;
    letter-spacing: -1px;
    padding-top: 22.46px;
}

.quiz_buttons {
    display: flex;
    gap: 6.76px;
    padding-top: 62.49px;
    padding-left: 43.29px;
}

.button-quiz {
    color: #ffffff;
}

.button-prev {
    display: flex;
    width: 126.13px;
    height: 64.43px;
    border-radius: 16.07px;
    font-weight: 600;
    font-size: 19.15px;
    line-height: 22.73px;
    letter-spacing: -1px;
    align-items: center;
    justify-content: center;
    background-color: #00CA81;
}

.button-next {
    display: flex;
    width: 138.22px;
    height: 64.43px;
    border-radius: 16.07px;
    font-weight: 600;
    font-size: 19.15px;
    line-height: 22.73px;
    letter-spacing: -1px;
    align-items: center;
    justify-content: center;
    background-color: #00CA81;
}

.button-quiz.active {
    transform: scale(0.98);
}

.button-quiz:disabled {
    background-color: #000;
    cursor: not-allowed;
}

.additional_card {
    background-color: #F6F6F6;
    width: 329.2px;
    height: 578.88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 15px;
}

.additional_card-info {
    display: flex;
    padding-top: 12.08px;
    flex-direction: column;
    align-items: center;
}

.card_img {
    background-color: #D9D9D9;
    width: 120.81px;
    height: 120.81px;
    border-radius: 50%;
}

.additional_name {
    font-weight: 700;
    font-size: 25.41px;
    line-height: 39.55px;
    letter-spacing: -1px;
    padding-top: 15px;
}

.additional_jobtitle {
    font-weight: 400;
    font-size: 20.13px;
    line-height: 39.55px;
    letter-spacing: -1px;
    padding-top: -3px;

}

.additional_comment {
    padding-top: 3px;
    font-weight: 400;
    font-size: 15.1px;
    line-height: 21.14px;
}

.prize_list {
    padding-top: 36.24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.prize_title {
    font-weight: 500;
    font-size: 20.13px;
    line-height: 39.55px;
    letter-spacing: -1px;
    text-decoration: underline #000000;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
}

.prize_pool {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.prize_item {
    width: 274.84px;
    height: 65.44px;
    color: #ffffff;
    font-weight: 600;
    font-size: 17.39px;
    line-height: 18.6px;
    letter-spacing: -1px;
    border-radius: 38.26px;
    background-image: url("img/prize_item_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    gap: 5px;
    align-items: center;
}

.prize_item svg {
    padding-left: 15px;
}

.progress_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1162.77px;
    margin-top: 43.71px;
    margin-bottom: 74.5px;
    max-width: 100%;
    overflow: hidden;
}

.progress_bar::before {
    content: "";
    background-color: #F6F6F6;
    position: absolute;
    top: 50%;
    left: 0;
    height: 28.19px;
    transform: translateY(-50%);
    width: 100%;
    border-radius: 29.2px;
    z-index: -1;
}

.current_progress {
    background-color: #00CA81;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 28.19px;
    width: 0%;
    border-radius: 29.2px;
    z-index: -1;
    transition: 0.4s ease;
}

.progress_circle {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 50.34px;
    height: 50.34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #F6F6F6;
    transition: 0.4s ease;
    font-weight: 600;
    font-size: 37.39px;
    line-height: 44.76px;
}

.active {
    background-color: #00CA81;
    border-color: #00CA81;
}

.progress_circle-prize {
    width: 78.52px;
    height: 78.52px;
    background-color: #FF9900;
}

.catalog {
    padding-top: 85.58px;
}

.card-heart_icon {
    position: absolute;
    top: 20.13px;
    right: 19.13px;
}

.card-graph_icon {
    position: absolute;
    top: 68.07px;
    right: 19.13px;
}

.catalog__title {
    font-weight: 700;
    font-size: 52.35px;
    line-height: 62.67px;
    letter-spacing: -1px;
}

.catalog__buttons {
    display: flex;
    padding-top: 50.76px;
    gap: 14.09px;
}

.catalog__filter {
    background-color: #ffffff;
    width: 193.84px;
    height: 55.05px;
    border-radius: 59.4px;
    border: 1px solid #000000;
    font-weight: 600;
    font-size: 17.76px;
    line-height: 46.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.03px;
}

.catalog__bottom {
    padding-top: 49.48px;
    display: flex;
    flex-wrap: wrap;
    gap: 20.13px;
}

.catalog__card {
    position: relative;
    width: 275.84px;
    height: 565.78px;
    background-color: #F6F6F6;
    border-radius: 18.12px;
    display: flex;
    flex-direction: column;
}

.card-top {
    display: flex;
    justify-content: center;
}

.card-img {
    padding-top: 20.13px;
    width: 171.14px;
    height: 171.14px;
}

.card-info {
    width: 236.39px;
    height: 87.17px;
    padding-left: 19.13px;
    padding-top: 18.12px;
    display: flex;
    flex-direction: column;
}

.card-prefix {
    font-weight: 400;
    font-size: 19.38px;
    line-height: 36.17px;
    color: #353535;
}

.card-name {
    font-weight: 700;
    font-size: 32.61px;
    line-height: 50.74px;
    letter-spacing: -1px;
    color: #000000;
}

.catalog-chars {
    padding-top: 6.46px;
    width: 237.14px;
    height: 115.48px;
    padding-left: 19.13px;
    display: flex;
    flex-direction: column;
    gap: 8.02px;
}

.catalog_chars-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8.02px;
    width: 237.14px;
    height: 115.48px;
}

.catalog_chars-item {
    display: flex;
    font-weight: 400;
    font-size: 17.76px;
    line-height: 33.15px;
    color: #353535;
}

.chars__item-count {
    font-weight: 600;
    font-size: 17.76px;
    line-height: 33.15px;
    color: #000000;
    margin-left: auto;
}

.catalog__card-bottom {
    display: flex;
}

.catalog__card-bottom::before {
    content: "";
    width: 236.58px;
    height: 1.01px;
    position: absolute;
    top: 436.92px;
    left: 19.13px;
    border-radius: 21.14px;
    background-color: #000000;
}

.catalog__card-price {
    width: 217.45px;
    height: 33.22px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 449px;
    left: 19.13px;
    font-weight: 400;
    font-size: 17.76px;
    line-height: 33.22px;
}

.catalog__card-button {
    position: absolute;
    top: 493.3px;
    left: 19.13px;
    display: flex;
    gap: 9.27px;
    align-content: center;
}

.button-buy {
    width: 160.07px;
    height: 52.83px;
    border-radius: 11.13px;
    font-weight: 600;
    font-size: 20.13px;
    line-height: 15.74px;
    letter-spacing: -1px;
    display: flex;
    gap: 4.84px;
    align-items: center;
    justify-content: center;
}

.button-addToCart {
    width: 52.35px;
    height: 52.35px;
    background-color: #ffffff;
    border-radius: 12.46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog_additional {
    padding-top: 75.66px;
}

.catalog_additional-title {
    font-weight: 700;
    font-size: 52.35px;
    line-height: 62.67px;
    letter-spacing: -1px;
    color: #000000;
}

.catalog_additional-cards {
    padding-top: 60.34px;
    display: flex;
    flex-wrap: wrap;
    gap: 20.13px;
}

.catalog_price-count {
    font-weight: 700;
    font-size: 17.76px;
    line-height: 33.22px;
    color: #000000;
}

.catalog_promotion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 75.8px;
}

.promotion-text {
    display: flex;
    flex-direction: column;
    gap: 25.6px;
}

.promotion-title {
    font-weight: 700;
    font-size: 52.35px;
    line-height: 62.67px;
    letter-spacing: -1px;
    color: #000000;
    padding-right: 286.96px;
}

.promotion-desc {
    word-wrap: break-word;
    width: 323.64px;
    height: 117px;
    font-weight: 300;
    font-size: 25.17px;
    line-height: 38.76px;
    color: #353535;
}

.promotion_action {
    border: 2px solid #C5C5C5;
    border-radius: 18.12px;
    padding: 49.33px 35.23px 46.57px 34.23px;
    width: 647.32px;
    height: auto;
    display: flex;
    gap: 31.07px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 20.13px;
    line-height: 48px;
    color: #000000;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.portfolio {
   padding-top: 75.51px;
}

.portfolio_img {
    display: flex;
    flex-direction: column;
}

.img__title {
    font-weight: 700;
    font-size: 52.35px;
    line-height: 63px;
    letter-spacing: -1px;
}

.img__gallery {
    padding-top: 50.77px;
    display: flex;
    flex-wrap: wrap;
    gap: 20.13px;
    justify-content: center;
}

.videos__title {
    padding-top: 75.51px;
    font-weight: 700;
    font-size: 52.35px;
    line-height: 63px;
    letter-spacing: -1px;
}

.videos__block {
    padding-top: 50.76px;
    display: flex;
    flex-wrap: wrap;
    gap: 20.13px;
    justify-content: space-between;

}

.videos__link {
    display: flex;
    position: relative;
}

.videos__link svg {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-25px, -25px);
}
